<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Helvetica Neue', sans-serif;
            background-color: #f5f5f5;
        }

        .custom-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 40px 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="custom-container">
    <h1 class="text-center mb-5">문제가 발생했습니다.</h1>
    <p class="lead text-center mb-5">
        죄송합니다. 저희 쪽에서 오류가 발생한 것 같습니다. 나중에 다시 시도하거나 문제가 지속되면 문의해 주세요.
    </p>
    <p class="text-center">
        Error Code: <span>500</span>
    </p>
</div>
</body>
</html>
